<%- include('../_layouts/adminheader') %>

<h2 class="page-title" style="margin-top:30px;">Add a page</h2>
<a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
<br><br>

<form method="post" action="/admin/pages/add-page">

  <div class="form-group">
    <label for="">Title</label>
    <input type="text" name="title" value="<%= title%>" placeholder="Title" class="form-control">
  </div>

  <div class="form-group">
    <label for="">Slug</label>
    <input type="text" name="slug" value="<%= slug%>" placeholder="Slug" class="form-control">
  </div>

  <div class="form-group">
    <label for="">Content</label>
    <textarea class="form-control" id="ta" name="content" rows="8" cols="80" placeholder="Content"><%= content%></textarea>
  </div>

  <button name="button" class="btn btn-default">Submit</button>


</form>

<%- include('../_layouts/adminfooter') %>
